<div id="about">
	<div class="outer_box">
		<div class="teal_bar">
			<div class="white_box"></div>
			<img class="judy_photo" src="/assets/judy_reduced.jpg" />
		</div>
		<div class="about_box">
			<div class="inner_box">

				<p>
					Judy has been invited to present programs at more than 300 dental and hygiene meetings in the United States and Canada. She currently holds an Adjunct Faculty position in the Periodontal Department, Temple-Kornberg School of Dentistry. In addition to speaking, Judy also has written many articles on dental related topics, and is a volunteer for the Global Smile Foundation performing community outreach around the world.</br></br>Following her years of practice as a clinical dental hygienist, Judy served as a Professional Sales Representative for manufacturers of dental products for 12 years. She also served as an educational consultant for several dental manufacturers for the past 15 years. In recognition of her expertise as a presenter, Judy has been recognized for several years as a “Top Leader in Dental Education” by Dentistry Today. She has been a longstanding member of the ADHA and a Distinguished Member of the Academy of Dental Hygiene.
				</p>
			</div>
		</div>
	</div>
</div>