<div id="articles">
	<div class="article-item">
		<a href="http://judybendit.com/images/re-tipping_article_2006.pdf"><img src="/assets/retipping.jpg" /></a>
		<a href="http://judybendit.com/images/re-tipping_article_2006.pdf">Retipping</a>
	</div>
	<div class="article-item">
		<a href="http://judybendit.com/images/200601JPH_3586Technology_v2.pdf"><img src="/assets/instrument_technology.jpg" /></a>
		<a href="http://judybendit.com/images/200601JPH_3586Technology_v2.pdf">Instrument Technology</a>
	</div>
	<div class="article-item">
		<a href="http://judybendit.com/images/Suction_Article.pdf"><img src="/assets/suctions.jpg" /></a>
		<a href="http://judybendit.com/images/Suction_Article.pdf">Let's Talk Suction</a>
	</div>
</div>