<div id="articles">
	<div class="title_outer"><h1>Published Articles</h1></div>
	<div class="article-item">
		<a target="_blank" href="http://www.drbicuspid.com/index.aspx?sec=ser&sub=def&pag=dis&ItemID=317418"><img src="/assets/goodergo_2015.jpg" /></a>
		<a target="_blank" href="http://www.drbicuspid.com/index.aspx?sec=ser&sub=def&pag=dis&ItemID=317418">Chicago Midwinter 2015:  Good Ergonomics Can Preserve Your Dental Career</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="/re-tipping_article_2006.pdf"><img src="/assets/retipping.jpg" /></a>
		<a target="_blank" href="/re-tipping_article_2006.pdf">Retipping</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="/200601JPH_3586Technology_v2.pdf"><img src="/assets/instrument_technology.jpg" /></a>
		<a target="_blank" href="/200601JPH_3586Technology_v2.pdf">Instrument Technology</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="/Suction_Article.pdf"><img src="/assets/suctions.jpg" /></a>
		<a target="_blank" href="/Suction_Article.pdf">Let's Talk Suction</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="http://www.dentistrytoday.com/articles-hygiene/7104-its-80-20-with-biofilm-update-on-oral-rinses"><img src="/assets/bendit_patti_flightplan.jpg" /></a>
		<a target="_blank" href="http://www.dentistrytoday.com/articles-hygiene/7104-its-80-20-with-biofilm-update-on-oral-rinses">It's 80-20 with Biofilm: Update on Oral Rinses</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="http://www.surgicalrestorative.com/articles/2013/01/ergonomics-and-dental-hygiene-its-all-in-how-you-say-it.html"><img src="/assets/ergonomics_hygiene_article.jpg" /></a>
		<a target="_blank" href="http://www.surgicalrestorative.com/articles/2013/01/ergonomics-and-dental-hygiene-its-all-in-how-you-say-it.html">Ergonomics and Dental Hygiene: It's all in how you say it</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="http://www.drbicuspid.com/index.aspx?sec=sup_n&sub=hyg&pag=dis&itemId=314612"><img src="/assets/hygienist_article_bendit.jpg" /></a>
		<a target="_blank" href="http://www.drbicuspid.com/index.aspx?sec=sup_n&sub=hyg&pag=dis&itemId=314612">Why a Hygienist Should Pick Out Your Toothbrush</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="/hygienemag_ergonomics.pdf"><img src="/assets/article_checklists_bendit.jpg" /></a>
		<a target="_blank" href="/hygienemag_ergonomics.pdf">Why a Hygienist Should Pick Out Your Toothbrush</a>
	</div>
</div>