<div id="articles">
	<div class="title_outer"><h1>My Brochures</h1></div>
	<div class="article-item">
		<a target="_blank" href="/Judy_Bendit_Package.pdf"><img src="/assets/brochure_cover.jpg" /></a>
		<a target="_blank" href="/Judy_Bendit_Package.pdf">General Information</a>
	</div>	
	<div class="article-item">
		<a target="_blank" href="/Enamel_Therapy_brochure.pdf"><img src="/assets/brochure_old_cover.jpg" /></a>
		<a target="_blank" href="/Enamel_Therapy_brochure.pdf">Enamel Therapy</a>
	</div>
</div>