<div id="articles">
	<div class="title_outer"><h1>My Brochures</h1></div>
	<div class="article-item">
		<a target="_blank" href="#"><img src="/assets/brochure_cover.jpg" /></a>
		<a target="_blank" href="#">Brochure</a>
	</div>
</div>