<div id="contact">
	<div class="outer"><h1>Contact Me</h1></div>
	<p> You may contact me via the email address here: <a class="contact-link" href="mailto:judy@judybendit.com">judy@judybendit.com</a></p>
</div>