<div id="course_offerings">
	<div class="outer"><h1>Course Offerings</h1></div>
	<div class="item-row">
		<div class="course-item sharpen-up"><p>Smarten up and sharpen up!</p></div>
		<div class="course-item ultrasonics-box"><p>The Heart and soul of ultrasonics</p></div>
		<div class="course-item ergonomic"><p>Positioning for life: Ergonomic Advancements in Dentistry</p></div>
		<div class="course-item clinical"><p>Jazz up your clinical routine*</p></div>
	</div>
	<div class="item-row">
		<div class="course-item choose-wisely"><p>Choose success by choosing wisely*</p></div>
		<div class="course-item otc"><p>The myths, legends, and realities of OTC products</p></div>
		<div class="course-item caries"><p>The 4 C's in solving the caries puzzle</p></div>
	</div>
	<div class="info-box">
		<div class="info-text sharpen-text">
			<div class="class-title">Smarten Up and Sharpen Up Course Description</div>
			Why is it that no one ever wants to sharpen hygiene instruments?  But we want them to have that new, just “out-of-the-package” feel? This 3 hour hands-on workshop will demonstrate how easily and effectively you CAN sharpen scalers and cure"es once you find the method that works BEST for YOU. Please join us for a relaxed, informal program that will highlight some of the latest and greatest guides, aids and devices that can help you to achieve sharp cu"ing edges on your instruments every time!<br><br>
			The participants will learn to:<br><br>
			Distinguish a “dull” cu"ing edge from a “sharp” edge.<br>
			Extend the life of your instruments by maintaining sharp blades with a minimal amount of grinding.<br>
			Select an appropriate sharpening method for your individual situation.<br>
			Identify the best time in your busy schedule to sharpen your instruments.<br>
			Enjoy working with sharp instruments again.
			<br><br>
			<div style="text-align: center;">For further information contact Judy at:<br>Judy@JudyBendit.com or 610-972-2709</div>
		</div>
		<div class="info-text ultrasonics-text">
			<div class="class-title">The Heart and Soul of Ultrasonics Course Description</div>
			Join me for this fast paced half-day "hands-on" workshop that will provide an opportunity for you to ANALYZE and UTILIZE a variety of power scaling inserts. Matching the physical designs of the working ends of the ultrasonic scalers in relation to the specific objectives of the treatment procedure and the morphological features of root surfaces will be one of many activity-based exercises. Ergonomic considerations will be an integral consideration as well. This workshop will include activities involving tactile sensitivity, root anatomy, care and maintenance, and instrumentation techniques. Guidelines will be offered to aid you in selecting appropriate inserts to enhance the delivery of optimal treatment.<br><br>
			<div style="text-align: center;">For further information contact Judy at:<br>Judy@JudyBendit.com or 610-972-2709</div>
		</div>
		<div class="info-text ergonomics-text">
			<div class="class-title">Ergonomic Advancements in Dentistry Course Description</div>
			This course is designed for the dentist and dental hygienist to help the clinician become comfortable with recent advancements in instrument designs and practical techniques to reduce occupational injury. We will discuss appropriate chair-side products, their design and usage, and how these can reduce the risk of occupational injury.
		</div>
		<div class="info-text clinical-text">
			<div class="class-title">Jazz Up Your Clinical Routine Course Description</div>
			Jazz up your routine with all the newest products for your hygiene practice. This fun and informal course will review many new concepts for making your hygiene procedures more efficient.<br><br>After this course, you will be able to:<br><br>1. Identify instruments that you want to work with all day, every day<br>2. Strategize plans for the most appropriate instruments for each type of procedure<br>3. Enhance your self-assurance with the knowledge that you've got the latest products.<br><br>
			<div style="text-align: center;">For further information contact Judy at:<br>Judy@JudyBendit.com or 610-972-2709</div>
		</div>
		<div class="info-text choose-wisely-text">
			<div class="class-title">Choose Success by Choosing Wisely Course Description</div>
			Your selection of instruments reflects upon your level of experience, professional confidence, clinical knowledge, and most significantly, the decisions your instructors made for you when they chose your basic instrument kit in school.<br><br>But the demands on your clinical skills have increased since you were introduced to the fundamentals of instrumentation. Take advantage of this unique opportunity to choose for yourself from the newest sophisticated instruments designed specifically for the contemporary practitioner.<br><br>In this fun and informal 1/2 day workshop, you will review the old traditional (but tried and true) instruments, and compare their style with new instrument designs. You will have the opportunity to use a wide variety of these scalers and curettes with typodonts. Your ability to choose wisely for the unique needs of each individual patient will increase the effectiveness and efficiency of your therapeutic skills.<br><br>
			<div style="text-align: center;">For further information contact Judy at:<br>Judy@JudyBendit.com or 610-972-2709</div>
		</div>
		<div class="info-text otc-text">
			<div class="class-title">The Myths, Legends, and Realities of OTC Products Course Description</div>
			This fun and interactive program explores the myths, legends and realities of personal dental products. We look at vintage commercials and then discuss how they have shaped current ideals and why getting the right products into the hands of our patients is such a challenge. This course will leave you questioning many of the advertisements and provide you with solutions, as well as, options to make wiser decisions for yourself and your patients.
		</div>
		<div class="info-text caries-text">
			<div class="class-title">The 4 C's in Solving the Caries Puzzle Course Description</div>
			This program introduces a suggested “caries risk assessment” survey to identify individual patient risk level for dental caries. Mapping a treatment plan is only successful when the dental team  understands all factors that influence the caries pattern and prevalence based on medical history,  lifestyle changes, behaviors and disease factors.<br><br>The program will preview several case studies that begin with CAMBRA and design a mapping to incorporate appropriate therapies and patient-applied practices to reverse early carious patterns. In the final segment of this seminar, the participants will all be encouraged to share their successes with all the latest remineralization products and how they plan to improve their day-to-day practice using evidence-based science. This half day program is totally sponsored by Premier.
		</div>
	</div>
</div>

<script type="text/javascript">

	$('.course-item').click(function() {
		// $('.info-box').css('height', '250px');
	});

	$('.ultrasonics-box').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.ultrasonics-text').css('display', 'block');
			$('.ultrasonics-text').css('opacity', '1');
		}, 100);
	});

	$('.sharpen-up').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.sharpen-text').css('display', 'block');
			$('.sharpen-text').css('opacity', '1');
		}, 100);
	});

	$('.ergonomic').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.ergonomics-text').css('display', 'block');
			$('.ergonomics-text').css('opacity', '1');
		}, 100);
	});

	$('.clinical').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.clinical-text').css('display', 'block');
			$('.clinical-text').css('opacity', '1');
		}, 100);
	});

	$('.choose-wisely').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.choose-wisely-text').css('display', 'block');
			$('.choose-wisely-text').css('opacity', '1');
		}, 100);
	});

	$('.otc').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.otc-text').css('display', 'block');
			$('.otc-text').css('opacity', '1');
		}, 100);
	});

	$('.caries').click(function() {
		$('.course-item').addClass('not-selected');
		$('.course-item').removeClass('selected');
		$(this).addClass('selected');
		$('.info-box p').css('opacity', '0');
		setTimeout(function() {
			$('.info-text').css('display', 'none');
			$('.caries-text').css('display', 'block');
			$('.caries-text').css('opacity', '1');
		}, 100);
	});

	$('.course-item').click(function() {
		$(this).removeClass('not-selected');
	});

</script>