<div id="course_offerings">
	<div class="outer"><h1>Course Offerings</h1></div>
	<h2>Smarten up and sharpen up!<span><img src='/assets/tooth.jpg' />Half Day</h2>
	<p>
		This informal and interactive workshop highlights some of the latest and greatest guides, aids, and automated sharpeners that can help one achieve sharp cutting edges on scalers and curettes. Participants will receive a sense of confidence, a new perspective and attitude toward sharpening, and the skills to accomplish the task quickly and easily.
	</p>
	<h2>The Heart and soul of ultrasonics<span><img src='/assets/tooth.jpg' />Half Day</h2>
	<p>
		This workshop provides the opportunity for each participant to analyze and utilize a variety of ultrasonic inserts on typodonts and truly get to the “Heart” of Ultrasonic scaling. In this workshop, we will focus on equipment, specific inserts, as well as technique.
	</p>
</div>