<div id="articles">
	<div class="article-item">
		<a href="http://judybendit.com/images/The_Myths_Flyer_2014.pdf"><img src="http://placehold.it/500x620" /></a>
		<a href="http://judybendit.com/images/The_Myths_Flyer_2014.pdf">The Myths, Legends, and Realities of OTC's</a>
	</div>
	<div class="article-item">
		<a href="http://judybendit.com/images/New_4Cs_Caries_Outline_-_Premier_Dental_Sept_19._2012.pdf"><img src="http://placehold.it/500x620" /></a>
		<a href="http://judybendit.com/images/New_4Cs_Caries_Outline_-_Premier_Dental_Sept_19._2012.pdf">The 4 C's in Solving the Caries Puzzle</a>
	</div>
	<div class="article-item">
		<a href="http://judybendit.com/images/Instrument_set_ups_2011.pdf"><img src="http://placehold.it/500x620" /></a>
		<a href="http://judybendit.com/images/Instrument_set_ups_2011.pdf">Instrument Set-ups for Hygiene</a>
	</div>
</div>