<div id="articles">
	<div class="title_outer"><h1>Handouts</h1></div>
<!--	<div class="article-item">
		<a href="http://judybendit.com/images/The_Myths_Flyer_2014.pdf"><img src="http://placehold.it/500x620" /></a>
		<a href="http://judybendit.com/images/The_Myths_Flyer_2014.pdf">The Myths, Legends, and Realities of OTC's</a>
	</div> -->
	<div class="article-item">
		<a target="_blank" href="/Dry_Mouth_Products_JB_2017.pdf"><img src="/assets/dry_mouth_cover.jpg" /></a>
		<a target="_blank" href="/Dry_Mouth_Products_JB_2017.pdf">Dry Mouth Products 2017</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="/New_4Cs_Caries_Outline_Premier_Dental_Sept192012.pdf"><img src="/assets/caries_handout.jpg" /></a>
		<a target="_blank" href="/New_4Cs_Caries_Outline_Premier_Dental_Sept192012.pdf">The 4 C's in Solving the Caries Puzzle</a>
	</div>
	<div class="article-item">
		<a target="_blank" href="http://judybendit.com/images/Instrument_setups.pdf"><img src="/assets/instrument_setups.jpg" /></a>
		<a target="_blank" href="http://judybendit.com/images/Instrument_setups.pdf">Instrument Set-ups for Hygiene</a>
	</div>
</div>
