<div id="index">
	<div class="page_desc">
		If experience is the best teacher, then Judy Bendit is among the very best when it comes to the field of dental education. With more than 35 years of hands-on experience in a clinical environment, Judy was literally born and raised in a dental office. Judy’s programs involve “hands-on” activities with “over-the-shoulder” observations and assessment. Judy believes that the best way to learn is through doing, which is why she has crafted her educational sessions to operate on a personal level and to be completely interactive.
	</div>
	<h1>Workshops and Lectures</h1>
	<div class="col_l">
		<div class="box">
			<h3>Half Day</h3>
			<h2>Smarten Up and Sharpen Up!</h2>
			<p>
				This informal and interactive workshop highlights some of the latest and greatest guides, aids, and automated sharpeners that can help one achieve sharp cutting edges on scalers and curettes. Participants will receive a sense of confidence, a new perspective and attitude toward sharpening, and the skills to accomplish the task quickly and easily.
			</p>
		</div>
		<div class="box">
			<h3>Half Day</h3>
			<h2>POSITIONING FOR LIFE: Ergonomic ADVANCEMENTS in dentistry</h2>
			<p>
				This course is designed for the dentist and dental hygienist to help the clinician become comfortable with recent advancements in instrument designs and practical techniques to reduce occupational injury. We will discuss appropriate chair-side products, their design and usage, and how these can reduce the risk of occupational injury.
			</p>
		</div>
		<div class="box">
			<h3>Half or Full Day</h3>
			<h2>Choose Success by choosing wisely</h2>
			<p>
				Selection of instruments reflects upon each clinician’s level of experience, confidence, clinical knowledge and, most importantly, the decisions the instruction they received in school. Each participant will be encouraged to personally identify the hygiene instruments they find to be most comfortable, and will enable them to achieve successful outcomes in their individual clinical   environment. 
			</p>
		</div>
		<div class="box">
			<h3>Lecture</h3>
			<h2>The four C's in solving the caries problem</h2>
			<p>
				This program introduces a suggested “caries risk assessment” survey to identify individual patient risk level for dental caries. Mapping a treatment plan is only successful when the dental team understands all factors that influence the caries pattern and prevalence based on medical history, lifestyle changes, behaviors and disease factors.</br></br>The program will preview several case studies that begin with CAMBRA and design a mapping to incorporate appropriate therapies and patient-applied practices to reverse early carious patterns. In the final segment of this seminar, the participants will all be encouraged to share their successes with all the latest remineralization products and how they plan to improve their day-to-day practice using evidence-based science. This half day program is totally sponsored by Premier.
			</p>
		</div>

	</div>
	<div class="col_r">
		<div class="box">
			<h3>Half Day</h3>
			<h2>The heart and soul of ultrasonics</h2>
			<p>
				This workshop provides the opportunity for each participant to analyze and utilize a variety of ultrasonic inserts on typodonts and truly get to the “Heart” of Ultrasonic scaling. In this workshop, we will focus on equipment, specific inserts, as well as technique.
			</p>
		</div>
		<div class="box">
			<h3>Half Day</h3>
			<h2>Jazz Up your clinical routine</h2>
			<p>
				In this course, participants will experience a true “hands-on” approach to instrument design evaluation. Each participant gets the unique opportunity to examine the newest instruments designed specifically for the contemporary practitioner. This will provide the confidence, knowledge, and experience to aid them when deciding if they have “what it takes” to provide the best care for their patients.
			</p>
		</div>
		<div class="box">
			<h3>Lecture</h3>
			<h2>The myths, legends, and realities of OTC products</h2>
			<p>
				This fun and interactive program explores the myths, legends and realities of personal dental products. We look at vintage commercials and then discuss how they have shaped current ideals and why getting the right products into the hands of our patients is such a challenge. This course will leave you questioning many of the advertisements and provide you with solutions, as well as, options to make wiser decisions for yourself and your patients.

			</p>
		</div>
		<div class="contact_box">
			<div class="inner_box"> 
				<div class="heading">For more information, recommendations or to schedule your event, contact:</div>
				<div class="subheading">Judy Bendit RDH, BS</br>Judy@JudyBendit.com</br>610-972-2709 (mobile)</div>
				<div class="subheading">To learn more about Judy, visit www.JudyBendit.com</div>

			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>