<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div id="index">
	<div class="heading">Welcome to my website<a target="_blank" href="https://www.facebook.com/jzbeducate">Like me on Facebook!<i class="fa fa-facebook-square"></i></a></div>
	<div id="introduction">
		<div class="image_outer_box"><div class="image_box"><img src="/assets/judy_reduced.jpg" /></div></div>
		<div class="intro-description">
			Here you will find my calender for upcoming programs, all my course offerings and links to sites I think are important.   If you have recently attended one of my programs and have questions or comments, please go to "contact us" and I will respond as quickly as possible.</br></br><span class="signature">-Judy</span><br><br><br><br>
			<div class="desc-top-speaker"><b><a href="http://www.dentistrytoday.com/component/k2/item/568-honoring-dentistry-today-s-leaders-in-ce" target="_blank">Dentistry Today Top Speaker</b><br>As seen in the December issue of Dentistry Today 2009-2015; Annual Leaders in CE</a></div>
			<img width="200px" src="/assets/2015_dentistrytoday.jpg" />
		</div>
	</div>
	<div id="newcourse">
		<div class="description">
			<h3>Check out the online course:  Retipping Hand Instruments: The Myths</h3>
			<p>
				This course will define the word "retipping" and take a closer look at the steps involved in retipping hand instruments. Key features in the original manufacturing process will be described along the contrasting process of retipping instruments. This course will also explain the potential risks and costs associated with retipped instruments.
			</p>
			<p>
				You may find more information, a syllabus, and sign up for the course here:  <a target="_blank" href=
				"http://www.friendsofhu-friedy.com/education/RetippingHandInstrumentsTheMyths.asp">http://www.friendsofhu-friedy.com/education/RetippingHandInstrumentsTheMyths.asp</a>
			</p>
		</div>
	</div>
	<div id="information">
		<div class="description">
			My educational programs are designed for Dentists and Hygienists. They are over-the-shoulder hands-on workshops.</br></br>I have spoken at over 250 dental and hygiene meetings around the United States.  The list includes Yankee Dental Congress, Hinman, Chicago Dental, California Dental Association, Florida National Dental Convention, Texas Dental Association, Greater New York Meeting, Ohio Dental Association, RDH Under one Roof, ADHA Lifelong Learning, as well as many Dental Hygiene components, Hygiene/Dental School alumni events, and dealer sponsored programs.
		</div>
		<div class="image_outer_box"><div class="image_box"><img src="/assets/bendit_home01.jpg" /></div></div>
	</div>
	<div id="article">
		<a target="_blank" href="http://www.rdhmag.com/display_article/373506/56/none/none/Feat/Magnets-in-dental-chairs"><img src="/assets/135_th_332312.jpg" /></a>
		<div class="description">
			View my most recent article on <a target="_blank" href="http://www.rdhmag.com/display_article/373506/56/none/none/Feat/Magnets-in-dental-chairs">Warning for Patients with Pacemakers sitting in your Dental Chair with the Magnetic Headrest."</a>
		</div>
	</div>
</div>