<div id="index">
	<div id="introduction">
		<div class="image_outer_box"><div class="image_box"><img src="/assets/judy_reduced.jpg" /></div></div>
		<div class="intro-description">
			<div class="heading">Welcome to my website</div><br>Here you will find my calender for upcoming programs, all my course offerings and links to sites I think are important.   If you have recently attended one of my programs and have questions or comments, please go to "contact us" and I will respond as quickly as possible.</br></br><span class="signature">-Judy</span>
		</div>
	</div>
	<div id="information">
		<div class="description">
			My educational programs are designed for Dentists and Hygienists. They are over-the-shoulder hands-on workshops.</br></br>I have spoken at over 250 dental and hygiene meetings around the United States.  The list includes Yankee Dental Congress, Hinman, Chicago Dental, California Dental Association, Florida National Dental Convention, Texas Dental Association, Greater New York Meeting, Ohio Dental Association, RDH Under one Roof, ADHA Lifelong Learning, as well as many Dental Hygiene components, Hygiene/Dental School alumni events, and dealer sponsored programs.
		</div>
		<div class="image_outer_box"><div class="image_box"><img width="31.5%" style="margin-right:5%" src="http://judybendit.com/images/181_judy_working_3.jpg" /><img width="63.5%"  src="http://judybendit.com/images/350_Judy_working.jpg" /></div></div>
	</div>
	<div id="article">
		<a target="_blank" href="http://www.rdhmag.com/display_article/373506/56/none/none/Feat/Magnets-in-dental-chairs"><img src="http://judybendit.com/images/135_th_332312.jpg" /></a>
		<div class="description">
			View my most recent article on <a target="_blank" href="http://www.rdhmag.com/display_article/373506/56/none/none/Feat/Magnets-in-dental-chairs">Warning for Patients with Pacemakers sitting in your Dental Chair with the Magnetic Headrest."</a>
		</div>
	</div>
</div>