<div id="products">
	<div class="outer"><h1>Additional Product Links</h1></div>
	  <div class="desc">
  		Remember...<br>
  		<ul>
  			<li>Be skeptical</li>
  			<li>Ask hard questions of the companies</li>
  			<li>Demand good science</li>
  			<li>Demand good evidence</li>
  		</ul>
  	</div>
  	<div class="row">
  		<a target="_blank" href="http://www.adha.org/profissues/index.html"><img src="/assets/products/191_ADHA_logo.jpg" /></a>
  		<a target="_blank" href="http://ebd.ada.org/"><img src="/assets/products/198_ADA_EBD_.jpg" /></a>
  		<a target="_blank" href="http://oralcancerfoundation.org/"><img src="/assets/products/191_ocf_logo_.jpg" /></a>
  	</div>

    <%= render @categories %>

  	<!-- <h2>Links to Other Products Discussed at Educational Programs</h2>
  	<div class="row">
  		<a target="_blank" href="http://www.hu-friedy.com/innovation/innovation.aspx?alias=sidekick"><img src="/assets/products/140_sidekick.jpg" /></a>
  		<a target="_blank" href="http://www.friendsofhu-friedy.com/featured/SWERV3.asp"><img src="/assets/products/180_SWERV.jpg" /></a>
  		<a target="_blank" href="http://professional.dentsply.com/cavitron/"><img src="/assets/products/170_cavitron_unit.jpg" /></a>
  		<a target="_blank" href="http://www.dentrek.com/console/flashConsole.asp?x_slidetype=4&x_classid=%2087&x_url=http%3A//www.crosstex.com/productguide.asp%3Fmycat1%3Dcat1%26mycat2%3Dcat1_1%26mycat3%3Dcat1_1_1&dummy=1303849285528"><img src="/assets/products/140_maskenomics.jpeg" /></a>
  		<a target="_blank" href="http://www.crosstex.com/productguide.asp?mycat1=cat1&mycat2=cat1_1&mycat3=cat1_1_1"><img src="/assets/products/140_surefit.jpeg" /></a>
  		<a target="_blank" href="http://www.theblueboa.com/"><img src="/assets/products/150_ToolTray.jpg" /></a>
  		<a target="_blank" href="http://www.floridaprobe.com/downloads.htm"><img src="/assets/products/166_to_go_probe.jpeg" /></a>
  		<a target="_blank" href="http://boomerthefootmouse.com/"><img src="/assets/products/200_Boomer-NBG.jpg" /></a>
  		<a target="_blank" href="http://www.dentalrat.com/"><img src="/assets/products/160_RAT_2_small.jpg" /></a>
  		<a target="_blank" href="http://www.aureliagloves.com/fitted.html"><img src="/assets/products/130_prod_lg_dimensions_NL.jpg" /></a>
  		<a target="_blank" href="http://www.cranberryusa.com/index/nitrile_gloves/curve_fitted_nitrile.html"><img src="/assets/products/100_curve_full.jpg" /></a>
  		<a target="_blank" href="http://www.microflex.com/"><img src="/assets/products/140_microflex.jpeg" /></a>
  		<a target="_blank" href="http://www.dentsply.com/default.aspx?pageid=500"><img src="/assets/products/30_740000x.jpg" /></a>
  		<a target="_blank" href="http://www.nsk-nakanishi.co.jp/us/dental/product/oralhygiene/pr030402.html"><img src="/assets/products/150_model112.jpg" /></a>
  		<a target="_blank" href="http://www.midwest-rdh.com/"><img src="/assets/products/70_Handpiece.jpg" /></a>
  		<a target="_blank" href="http://www.denticator.com/products.php?pType=Handpieces"><img src="/assets/products/200_denticator.jpg" /></a>

      <a target="_blank" href="http://www.premusa.com/dental/newproducts.asp"><img src="http://judybendit.com/images/100_2pro.jpg" /></a>
      <a target="_blank" href="http://online.lexi.com/crlsql/servlet/crlonline"><img src="http://judybendit.com/images/200_lcod-logo.gif" /></a>
      <a target="_blank" href="http://www.hagerworldwide.com/pages/dentalproducts/instruments/mirrors.html"><img src="http://judybendit.com/images/130_th_79196.jpg" /></a>
      <a target="_blank" href="http://www.brewer-design.com/Distribution/productDetail.asp?pg=Dental&id=183"><img src="http://judybendit.com/images/120_Brewer.jpg" /></a>
      <a target="_blank" href="http://www.rgpergo.com/products.html"><img src="http://judybendit.com/images/130_RGP.jpg" /></a>
      <a target="_blank" href="http://www.dentalez.com/dentalez/dental-stools/ergosure-stools.html"><img src="http://judybendit.com/images/130_ErgoSureOperatorWelbow-support.jpg" /></a>
      <a target="_blank" href="https://www.crownseating.com/C70D.html"><img src="http://judybendit.com/images/130_C70D_Hybrid_Saddle.jpg" /></a>
      <a target="_blank" href="http://evolutionchair.com/"><img src="http://judybendit.com/images/150_molly_0044_crop_for_lori.jpg" /></a>
      <a target="_blank" href="http://www.crescentproducts.com/"><img src="http://judybendit.com/images/190_Crescent_premiumBodyrestPad-2.jpg" /></a>
      <a target="_blank" href="http://www.orascoptic.com/xv1"><img src="http://judybendit.com/images/180_xv1.jpg" /></a>
      <a target="_blank" href="http://www.orascoptic.com/frame-revolution"><img src="http://judybendit.com/images/159_revolutions_by_orascoptic.jpeg" /></a>
      <a target="_blank" href="http://www.safe-flo.com/index.htm"><img src="http://judybendit.com/images/160_Safe-flo_HVE.jpg" /></a>
      <a target="_blank" href="http://safe-flo.com/index.htm"><img src="http://judybendit.com/images/200_crosssectionclosed.jpg" /></a>
      <a target="_blank" href="http://crosstex.com/cleanersproductguide.asp?mycat1=cat3&mycat2=cat3_1_1&mycat3=cat3_1_1"><img src="http://judybendit.com/images/100_Free_form_Saliva_ejectors-big.jpg" /></a>
      <a target="_blank" href="http://www.zirc.com/eshop/10Expand.asp?ProductCode=20Z420I-X"><img src="http://judybendit.com/images/100_Zirc_tray.jpg" /></a>
      <a target="_blank" href="http://www.isolitesystems.com/"><img src="http://judybendit.com/images/197_isolite.jpeg" /></a>
      <a target="_blank" href="http://www.dentalez.com/dentalez/dental-delivery-units/simplicity-hygiene-unit.html"><img src="http://judybendit.com/images/200_Simplicity_Hygiene_DelHead.jpg" /></a>
      <a target="_blank" href="http://zirc.com/index.asp"><img src="http://judybendit.com/images/200_Mr._thirsty.jpeg" /></a>
      <a target="_blank" href="http://www.hagerworldwide.com/ergo-vac/view/productdetails/virtuemart_product_id/232/virtuemart_category_id/53"><img src="http://judybendit.com/images/240_ergovac.jpg" /></a>

      
  	</div>
  	<h2>Emerging Technologies</h2>
  	<div class="row">
  		<a target="_blank" href="http://www.premusa.com/dental/newproducts.asp"><img src="/assets/products/100_enamelprovarnish2.jpg" /></a>
  		<a target="_blank" href="http://www.premusa.com/dental/hygiene.asp#enamelpro"><img src="/assets/products/130_Enamel_Pro_Ref0.jpg" /></a>
  		<a target="_blank" href="http://www.armandhammer.com/personal-care/toothpaste/Products/arm-and-hammer-complete-care-extra-whitening-with-baking-soda-and-peroxide.aspx"><img src="/assets/products/270_complete_care.jpg" /></a>
  		<a target="_blank" href="http://colgate-sensitive-pro-relief.colgateprofessional.com.au/products/Colgate-Sensitive-Pro-Relief-Desensitising-Polishing-Paste/details"><img src="/assets/products/307_colgate_pro_relief.jpeg" /></a>
  		<a target="_blank" href="http://www.gcamerica.com/products/preventive/MI_Paste/"><img src="/assets/products/145_GC_MI_paste.jpg" /></a>
  		<a target="_blank" href="http://www.dentsply.com/en/solutions/us/preventive/prophy-paste-and-toothpaste/nupro%C2%AE-sensodyne%C2%AE-prophylaxis-paste-with-novamin%C2%AE/"><img src="/assets/products/150_sensodyne_polish_group.jpg" /></a>
  		<a target="_blank" href="http://www.dentsply.com/en/solutions/us/preventive/prophy-paste-and-toothpaste/sensodyne%C2%AE-nupro%C2%AE-5000-ppm-fluoride-ion-toothpaste-with-novamin%C2%AE/"><img src="/assets/products/147_sensodyne-nupro-toothpaste-revised_General-Brand.jpg" /></a>
  		<a target="_blank" href="http://www.xlear.com/default.aspx"><img src="/assets/products/160_spry.jpg" /></a>
  		<a target="_blank" href="http://www.hagerworldwide.com/XYLITOL.HTML"><img src="/assets/products/100_1350sample.jpg" /></a>
  		<a target="_blank" href="http://www.icechipscandy.com/"><img src="/assets/products/210_ice_chips.jpg" /></a>

      <!-- <a target="_blank" href="http://www.nuvorainc.com/"><img src="http://www.judybendit.com/images/150_Salese.jpg" /></a>
      <a target="_blank" href="http://www.tridentoralcare.com/#/advancements/research/"><img src="http://www.judybendit.com/images/150_42817-Trident_XtraCare.jpg" /></a>
      <a target="_blank" href="http://www.tridentoralcare.com/#/advancements/xylitol/"><img src="http://www.judybendit.com/images/150_trident_with_xylitol.jpg" /></a>
      <a target="_blank" href="http://www.tridentoralcare.com/#/advancements/moa-video/"><img src="http://www.judybendit.com/images/150_splash-screen-static.jpg" /></a>
      <a target="_blank" href="http://www.basicbites.com/"><img src="images/basic_bites.jpg" /></a>
      <a target="_blank" href="http://www.oracoat.com/"><img src="images/xyli_melts.jpg" /></a>

      
  	</div>
  	<h2>Plaque Assessment</h2>
  	<div class="row">
  		<a target="_blank" href="http://www.gcamerica.com/products/preventive/Saliva_Check_BUFFER/"><img src="/assets/products/200_GC_buffer.jpg" /></a>
  		<a target="_blank" href="http://www.gcamerica.com/products/preventive/SALIVA-CHECK_MUTANS/"><img src="/assets/products/160_GC_mutans.jpg" /></a>
  		<a target="_blank" href="http://www.ivoclarvivadent.us/en-us/all-products/products/prevention-care/caries-risk/crt-bacteria"><img src="/assets/products/170_ivoclar_test.jpg" /></a>
  	</div>
  	<h2>Caries Detection Devices</h2>
  	<div class="row">
  		<a target="_blank" href="http://www.cariesid.com/"><img src="/assets/products/160_mainPhoto_requestSlides.jpg" /></a>
  		<a target="_blank" href="http://www.kavousa.com/Default.aspx?navid=552871&oid=009&lid=Us"><img src="/assets/products/160_diagnodent_pen.jpg" /></a>
  		<a target="_blank" href="http://www.soprolife.com/"><img src="/assets/products/170_ruboff32.jpg" /></a>
  		<a target="_blank" href="http://www.airtechniques.com/products/spectra-caries-detection-aid.html"><img src="/assets/products/150_Spectra_w_Monitor.jpg" /></a>
  		<a target="_blank" href="http://us.cariescan.com/"><img src="/assets/products/89_Cariescan.jpg" /></a>
  		<a target="_blank" href="http://www.thecanarysystem.com/index.php"><img src="/assets/products/213_canary.jpg" /></a>
  	</div>
  	<h2>Hand Stengthening Options</h2>
  	<div class="row">
  		<a target="_blank" href="http://www.prohands.net/exercise/"><img src="/assets/products/130_gripmaster-1.jpg" /></a>
  		<a target="_blank" href="http://www.prohands.net/products/"><img src="/assets/products/160_prohand_by_gripmaster.jpg" /></a>
  		<a target="_blank" href="http://www.pwrwebintl.com/"><img src="/assets/products/161_mini_web.jpeg" /></a>
  		<a target="_blank" href="http://www.powerputty.com/"><img src="/assets/products/170_PowerPuttyF06.jpg" /></a>
  		<a target="_blank" href="http://www.muscleangelmassagers.com/"><img src="/assets/products/170_muscle_angle.jpeg" /></a>
  		<a target="_blank" href="http://www.handmasterplus.com/"><img src="/assets/products/177_handmaster.jpg" /></a>
  	</div> --> -->
</div>