<div id="products">
	<div class="outer"><h1>Additional Product Links</h1></div>
	  <div class="desc">
  		Remember...<br>
  		<ul>
  			<li>Be skeptical</li>
  			<li>Ask hard questions of the companies</li>
  			<li>Demand good science</li>
  			<li>Demand good evidence</li>
  		</ul>
  	</div>
  	<div class="row">
  		<a target="_blank" href="http://www.adha.org/resources-docs/7261_Standards_Clinical_Practice.pdf"><img src="/assets/products/191_ADHA_logo.jpg" /></a>
  		<a target="_blank" href="http://ebd.ada.org/"><img src="/assets/products/198_ADA_EBD_.jpg" /></a>
  		<a target="_blank" href="http://oralcancerfoundation.org/"><img src="/assets/products/191_ocf_logo_.jpg" /></a>
  	</div>

    <%= render @categories %>

</div>