<div id="products">
	<div class="outer"><h1>Additional Product Links</h1></div>
	<div class="desc">
		Remember...<br>
		<ul>
			<li>Be skeptical</li>
			<li>Ask hard questions of the companies</li>
			<li>Demand good science</li>
			<li>Demand good evidence</li>
		</ul>
  	</div>
  	<div class="row">
  		<a href="#"><img src="/assets/products/191_ADHA_logo.jpg" /></a>
  		<a href="#"><img src="/assets/products/198_ADA_EBD_.jpg" /></a>
  		<a href="#"><img src="/assets/products/191_ocf_logo_.jpg" /></a>
  	</div>
  	<h2>Links to Other Products Discussed at Educational Programs</h2>
  	<div class="row">
  		<a target="_blank" href="#"><img src="/assets/products/140_sidekick.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/180_SWERV.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/170_cavitron_unit.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/140_maskenomics.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/140_surefit.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/150_ToolTray.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/166_to_go_probe.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/200_Boomer-NBG.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/160_RAT_2_small.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/130_prod_lg_dimensions_NL.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/100_curve_full.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/140_microflex.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/30_740000x.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/150_model112.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/70_Handpiece.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/200_denticator.jpg" /></a>
  	</div>
  	<h2>Emerging Technologies</h2>
  	<div class="row">
  		<a target="_blank" href="#"><img src="/assets/products/100_enamelprovarnish2.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/130_Enamel_Pro_Ref0.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/270_complete_care.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/307_colgate_pro_relief.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/145_GC_MI_paste.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/150_sensodyne_polish_group.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/147_sensodyne-nupro-toothpaste-revised_General-Brand.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/160_spry.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/100_1350sample.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/210_ice_chips.jpg" /></a>
  	</div>
  	<h2>Plaque Assessment</h2>
  	<div class="row">
  		<a target="_blank" href="#"><img src="/assets/products/200_GC_buffer.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/160_GC_mutans.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/170_ivoclar_test.jpg" /></a>
  	</div>
  	<h2>Caries Detection Devices</h2>
  	<div class="row">
  		<a target="_blank" href="#"><img src="/assets/products/160_mainPhoto_requestSlides.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/160_diagnodent_pen.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/170_ruboff32.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/150_Spectra_w_Monitor.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/89_Cariescan.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/213_canary.jpg" /></a>
  	</div>
  	<h2>Hand Stengthening Options</h2>
  	<div class="row">
  		<a target="_blank" href="#"><img src="/assets/products/130_gripmaster-1.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/160_prohand_by_gripmaster.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/161_mini_web.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/170_PowerPuttyF06.jpg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/170_muscle_angle.jpeg" /></a>
  		<a target="_blank" href="#"><img src="/assets/products/177_handmaster.jpg" /></a>
  	</div>
</div>