<div id="products">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="outer"><h1>Additional Product Links</h1></div>
        <h3>Administrative Options</h3>
        <a class="admin-link" href="/categories" rel="nofollow">Categories<div class="nav-tooth"></div></a>
        <a class="admin-link" href="/products" rel="nofollow">Products<div class="nav-tooth"></div></a>
      </div>
    </div>
	  <div class="desc">
  		Remember...<br>
  		<ul>
  			<li>Be skeptical</li>
  			<li>Ask hard questions of the companies</li>
  			<li>Demand good science</li>
  			<li>Demand good evidence</li>
  		</ul>
  	</div>
  	<div class="row">
  		<a target="_blank" href="http://www.adha.org/resources-docs/7261_Standards_Clinical_Practice.pdf"><img src="/assets/products/191_ADHA_logo.jpg" /></a>
  		<a target="_blank" href="http://ebd.ada.org/"><img src="/assets/products/198_ADA_EBD_.jpg" /></a>
  		<a target="_blank" href="http://oralcancerfoundation.org/"><img src="/assets/products/191_ocf_logo_.jpg" /></a>
  	</div>

    <%= render @categories %>
  </div>

</div>