<div id="upcoming">
	<div class="title_outer"><h1>Upcoming Programs</h1></div>
	<iframe src="https://www.google.com/calendar/embed?src=hjbendit%40gmail.com&ctz=America/New_York&amp;output=embed" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>