/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#header {
	padding-top: 20px;
	width: 100%;
	border-bottom: 3px solid #3B93A3;
	margin-left: auto;
	margin-right: auto;

	.logo {
		width: 400px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	#nav-link-set {
		width: 80%;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		a {
			position:relative;
			display: inline-block;
			padding: 25px 25px 10px 25px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			color: #3B93A3;
			text-transform: uppercase;
			text-decoration: none;
		}

		.nav-link {
			display: inline-block;
			padding: 15px 25px 5px 25px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			color: #3B93A3;
			text-transform: uppercase;
			cursor: pointer;
			-webkit-transition: all .15s ease-in-out;
			-moz-transition: all .15s ease-in-out;
			-o-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
		}

		.nav-tooth {
			height: 25px;
			width: 21px;
			background: url('/assets/tooth.jpg') no-repeat;
			background-size: 100%;
			position: absolute;
			top: -5px;
			left: 50%;			
			margin-left: -10px;
			opacity:0;
			-webkit-transition: all .15s ease-in-out;
			-moz-transition: all .15s ease-in-out;
			-o-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
		}

		a:hover > .nav-tooth {
			opacity:1;
		} 
	}

}