// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cat-index {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 30px;

	h1 {
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #3B93A3;
		font-weight: bold;
	}

	.pagination {
		margin: 10px 0;
	}

	table {
		width: 100%;
		margin: 0 0 20px 0;

		.col-name {
			text-align: left;
			padding: 8px;
		}

		td {
			padding: 0;

			a {
				display: block;
				padding: 8px;
			}
		}
	}

	input {
		display: block;
		min-width: 300px;
		margin-left: auto;
		padding: 5px;
		font-family: 'Open Sans', sans-serif;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.submitbtn {
		color: #3B93A3;
		background: #eee;
		border: 2px solid #ddd;
		display: inline-block;
		padding: 10px 0;
		font-family: 'Open Sans Condensed',sans-serif;
		font-weight: bold;
		font-size: 18px;
		margin: 25px 0;
		cursor: pointer;
		min-width: 200px;
	}

	.submitbtn:hover {
		opacity: .5;
	}
}