// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#index {
	width: 90%;
	max-width: 1200px;
	padding-top: 40px;
	padding-bottom: 80px;
	margin:auto;

	.description {
		border-top: 1px solid #4CAFAC;
		padding-top: 15px;
		vertical-align: top;
		display: inline-block;
		text-align: left;
		color: #777;
		line-height: 30px;
		padding-bottom: 15px;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;

		.signature {
			font-style: italic;
		}
	}

	.image_outer_box {
		display: inline-block;
		padding: 15px;
		border: 1px solid #4CAFAC;
	}

	.image_box {
		background: #4CAFAC;
		padding: 25px;
	}

	#introduction {
		margin-left: auto;
		margin-right: auto;

		.description {
			width: 65%;
		}

		.image_outer_box {
			width: 25%;
			margin-right: 4%;
		}

		img {
			width: 100%;
		}
	}

	#information {
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		padding-bottom: 80px;

		.description {
			display: inline-block;
			width: 45%;
		}

		.image_outer_box {
			display: inline-block;
			width: 45%;
			margin-left: 5%;
			word-spacing: 40px;
		}

		img {
			display: inline-block;
		}
	}

	#article {

		.description {
			width: 72%;
			display: inline-block;
		}

		img {
			margin-right: 5%;
			width: 20%;
		}
	}
}


#experience {
	width: 90%;
	max-width: 1200px;
	padding-top: 40px;
	padding-bottom: 80px;
	margin:auto;

	.page_desc {
		text-align: center;
		margin: auto;
		width: 70%;
		color: #777;
		line-height: 24px;
		padding-bottom: 40px;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	}

	h1 {
		width: 100%;
		background: #999;
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		padding: 5px 0;
	}

	.col_l {
		width: 47.5%;
		float: left;
	}

	.col_r {
		width: 47.5%;
		float: right;
	}

	.box {
		width: 100%;
		background: #dedede;
		margin-top: 30px;

		h3 {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			color: #3B93A3;
			font-size: 16px;
			padding: 10px 0px 0px 15px;
			margin:0;
			text-transform: uppercase;
		}

		h2 {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			color: #fff;
			width: 100%;
			text-transform: uppercase;
			background: #63c6c3;
			box-sizing: border-box;
			padding: 10px 15px 10px 15px;
			margin: 10px 0 0 0;
		}

		p {
			margin: 0;
			padding: 15px 15px 30px 15px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			color: #3B93A3;
			line-height: 24px;
		}
	}

	.contact_box {
		width: 100%;
		border: 1px solid #888;
		padding: 25px;
		margin-top: 30px;
		box-sizing: border-box;

		.inner_box {
			width: 100%;
			text-align: center;
			background: #888;

			.heading {
				width: 50%;
				margin-left: auto;
				margin-right: auto;
				padding-top: 40px;
				font-size: 20px;
				line-height: 28px;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				color: #fff;
			}

			.subheading {
				font-size: 20px;
				text-align: center;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				line-height: 26px;
				padding: 40px 0;
				color: #fff;				
			}
		}
	}
}


.clear {
	clear:both;
}


#about {
	width: 90%;
	max-width: 1200px;
	padding-top: 40px;
	padding-bottom: 80px;
	margin:auto;

	.logo {
		width: 400px;
		padding-bottom: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.white_box {
		background: #fff;
		width: 205px;
		height: 36px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -52px;
		border-top: 1px solid #4CAFAC;
		border-left: 1px solid #4CAFAC;
		border-right: 1px solid #4CAFAC;
	}

	.judy_photo {
		width: 175px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: relative;
		top: -73px;
	}

	p {
		margin:0;
		font-size: 20px;
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		line-height: 26px;
		color: #fff;
	}

	.outer_box {
		padding: 15px;
		border: 1px solid #4CAFAC;
	}

	.teal_bar {
		height: 80px;
		width: 100%;
		background: #4CAFAC;
	}

	.inner_box {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-bottom:  1px solid #fff;
		padding: 160px 40px 40px 40px;
	}

	.about_box {
		margin-left: auto;
		margin-right: auto;
		padding: 0 25px 25px 25px;
		background: #2999A3;
	}
}