// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#product-index {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 60px;

	h1 {
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #3B93A3;
		font-weight: bold;
	}

	table {
		width: 100%;
		margin: 40px 0;

		.col-name {
			text-align: left;
		}

		.col-desc {
			text-align: left;
		}
	}

	select {
		min-width: 250px;
		display: block;
		margin: 0 auto 15px auto;
	}

	input {
		display: block;
		min-width: 300px;
		margin-left: auto;
		padding: 5px;
		font-family: 'Open Sans', sans-serif;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.submitbtn {
		color: #3B93A3;
		background: #eee;
		border: 2px solid #ddd;
		display: inline-block;
		margin-bottom: 25px;
		padding: 10px 0;
		font-family: 'Open Sans Condensed',sans-serif;
		font-weight: bold;
		font-size: 18px;
		cursor: pointer;
		min-width: 200px;
	}

	.submitbtn:hover {
		opacity: .5;
	}
}

.product-category {
	padding: 40px 0;

	h2 {
		margin-bottom: 25px;
	}

	.col-sm-3 {
		margin: 15px 0;
	}
	
	.product-block {
		border: 2px solid #ddd;
		display: block;
		padding-bottom: 15px;

		h3 {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: bold;
			height: 40px;
			color: #3B93A3;
		}

		img {
			width: 100%;
		}

		p {
			text-decoration: none;
			color: #555;
		}

		.product-image {
			height: 140px;
		}
	}
}