<div id="cat-index" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @category.cat_name %>
		</p>

		<%= link_to 'Edit', edit_category_path(@category), class: "submitbtn" %>
		<%= link_to 'Back', categories_path, class: "submitbtn" %>
	</div>
  </div>
</div>