<!DOCTYPE html>
<html>
<head>
  <title>Judy Bendit, RDH BS</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="description" content="Judy Bendit is a dental educator with programs designed for Dentists and Hygienists.  She has spoken at over 250 dental and hygiene meetings around the United States.  She currently holds an Adjunct Faculty position in the Periodontal Department, Temple-Kornberg School of Dentistry." />
  <meta name="keywords" content="Judy, Bendit, dental, dentist, hygiene, hygienist, education, dentistry" />
  <meta name="Name" content="Judy Bendit, RDH BS" />
  <meta name="google-site-verification" content="zbE3W0wnj6mCvGJ99yqteUxiOiZ4rtECCT4L_O7LxjU" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43568745-10', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>

	<div id="header">
		<a href="/main/index"><img class="logo" src="/assets/logo.jpg" /></a>
		<div id="nav-link-set">
			<a href="/main/about">About<div class="nav-tooth"></div></a>
			<a href="/main/brochures">Brochures<div class="nav-tooth"></div></a>
			<a href="/main/products">Product Links<div class="nav-tooth"></div></a>
			<a href="/main/articles">Published Articles<div class="nav-tooth"></div></a>
			<a href="/main/handout">Handout Information<div class="nav-tooth"></div></a>
			<a href="/main/upcoming">Upcoming Programs<div class="nav-tooth"></div></a>
			<a href="/main/course_offerings">Course Offerings<div class="nav-tooth"></div></a>
			<a href="/main/contact">Contact Us<div class="nav-tooth"></div></a>			
			<% if signed_in? %>	        
		        <a class="admin-link" href="/categories" rel="nofollow">Categories<div class="nav-tooth"></div></a>
		        <a class="admin-link" href="/products" rel="nofollow">Products<div class="nav-tooth"></div></a>
		        <a data-method="delete" class="admin-link" href="/signout" rel="nofollow">Log Out<div class="nav-tooth"></div></a>
		    <% else %>
		    <% end %>	<!-- 
			<a href="/signin">Log In<div class="nav-tooth"></div></a> -->
		</div>
	</div>

	<%= yield %>

	<footer class="container">
		<div class="col-sm-12">
			<a href="/main/index">Home</a>
			<a href="/main/about">About</a>
			<a href="/main/contact">Contact</a>
			<a href="/signin">Log In</a>			
			<a target="_blank" href="https://www.facebook.com/jzbeducate">Facebook</a>
		</div>
		<div class="col-sm-12">
			<div class="copyright"> &copy; Copyright Judy Bendit 2014</div>
		</div>
	</footer>


</body>
</html>
