<!DOCTYPE html>
<html>
<head>
  <title>Bendit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<a href="/main/index"><img class="logo" src="/assets/logo.jpg" /></a>
	<div id="nav-link-set">
		<a href="/main/about">About<div class="nav-tooth"></div></a>
		<a href="#">Brochures<div class="nav-tooth"></div></a>
		<a href="#">Additional Products<div class="nav-tooth"></div></a>
		<a href="#">Published Articles<div class="nav-tooth"></div></a>
		<a href="#">Handout Information<div class="nav-tooth"></div></a>
		<a href="#">Upcoming Programs<div class="nav-tooth"></div></a>
		<a href="#">Course Offerings<div class="nav-tooth"></div></a>
		<a href="#">Contact Us<div class="nav-tooth"></div></a>
	</div>
</div>

	<%= yield %>

</body>
</html>
